* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

.ceiling {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(18, 18, 18);
  transition: background-color 0.1 ease;
}

.ceiling.lit {
  background-color: white;
}

.bulb {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #555;
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.bulb.is-on {
  background-color: yellow;
  box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.7);
}
